*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
}